* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    padding: 10px;
}

header a:hover {
    color: black;
    background-color: white;
    transition: .4s;
}

header a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

body {
    background-color: black;
}

main {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about img {
    width: 300px;
    border-radius: 10px;
}

.about {
    display: flex;
    align-items: center;
    padding: 30px;
}

section {
    max-width: 1000px;
}

.text p {
    padding: 20px;
    text-align:justify;
}

.text h2 {
    text-align: center;
    padding-bottom: 20px;
}

.projects {
    display:flex;
    padding: 20px;
}

.proj img {
    width: 280px;
    height: 152px;
}

img:hover {
    border: 1px solid white;
}

.proj {
    padding: 20px;
    text-align:justify;
}

.proj h3 {
    text-align: center;
    padding: 10px;
}

h2 {
    padding-top: 60px;
}

footer {
    color: white;
    background-color: #333;
    justify-content: center;
    padding: 30px;
    display: flex;
}

footer i:hover {
    color: black;
    background-color: white;
    padding: 10px;
}

footer i {
    color: white;
    transition: 0.4s;
    padding: 0 5px;
}

footer p {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.contato {
    width: 100%;
}

.contato h2 {
    text-align: center;
    margin: 20px 0;
}

label {
    margin-bottom: 5px;
    padding: 10px 0;
}

input, textarea {
    padding: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.2;
    padding: 15px;
}

@media screen and (max-width:768px) {
    header, .about, .projects {
        flex-direction: column;
    }

    .proj {
        max-width: 320px;
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    header, .about, .projects, footer {
        flex-direction: column;
        font-size: 13px;
        text-align: center;
        font-size: -20%;
    }

    header ul {
        padding: 0;
    }

    footer img {
        margin: 10px;
    }
}